.App {
  text-align: center;
  background-image: linear-gradient(to right, #E4DAEB , #D6A2E8);
  padding: 20px 0px;
  height: 100%;
}

.title {
  font-family: 'Bigelow Rules';
  font-size: 80px;
  color: #82589F;
  padding: 12px 0px
}

.textField {
  font-family: 'Bigelow Rules';
  font-size: 25px;
  background-color: white;
  color: black;
  width: 200px;
  height: 20px;
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}